<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main>
        <nav>
            <span class="coq-keyword">match</span>
            <span class="coq-var">page</span>
            <span class="coq-keyword">with</span>
            <span class="nav-links">
                <a href="/" class="{% if page.url == '/' %}active{% endif %}">| home</a>
                <a href="/about/" class="{% if page.url == '/about/' %}active{% endif %}">| about</a>
                <a href="/theater/" class="{% if page.url == '/theater/' %}active{% endif %}">| theater</a>
                <a href="/assets/pdf/resume.pdf">| resume</a>
                <a href="https://github.com/triviajon">| github</a>
                <a href="/contact/" class="{% if page.url == '/contact/' %}active{% endif %}">| contact</a>
            </span>
            <span class="coq-keyword">end</span>.
        </nav>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 jon rosario</p>
    </footer>
</body>
</html>