<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="/assets/scripts/openforms-metrics.js"></script>
    <script>
      OpenFormsMetrics.init({
          "endpoint": "https://docs.google.com/forms/d/e/1FAIpQLSfeZfFQGRWZJ5YAePUwPLgirpYjobaEh0-7ugmO7bhYzkKq0g/formResponse",
          "entries": {
              "event": "entry.819579490",
              "sessionId": "entry.801154652",
              "timestamp": "entry.1809438488",
              "url": "entry.233178914",
              "path": "entry.1832592036",
              "title": "entry.550263621",
              "referrer": "entry.661624719",
              "durationMs": "entry.696717389",
              "userAgent": "entry.1184122705",
              "extra": "entry.2116734363"
          }
      });
    </script>
    {% if draft %}
    <meta name="robots" content="noindex, nofollow" />
    {% endif %}
    <link rel="stylesheet" href="/assets/css/style.css" />
    {% if page.url contains '/thoughtdumps/' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
    />
    <link rel="stylesheet" href="/assets/css/prism.css" />
    {% endif %}
  </head>
  <body>
    <main>
      <nav>
        <div>
          <span class="coq-keyword">match</span>
          <span class="coq-var">page</span>
          <span class="coq-keyword">with</span>
        </div>

        <!-- Hidden checkbox toggle -->
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />

        <!-- Coq-style "?page" toggle label -->
        <label for="nav-toggle" class="nav-toggle-label">
          <span class="coq-var"> ☰ ... </span>
        </label>

        <!-- Nav links -->
        <span class="nav-links">
          <a href="/" class="{% if page.url == '/' %}active{% endif %}"
            >| home</a
          >
          <a
            href="/about/"
            class="{% if page.url == '/about/' %}active{% endif %}"
            >| about</a
          >
          <a
            href="/theater/"
            class="{% if page.url == '/theater/' %}active{% endif %}"
            >| theater</a
          >
          <a
            href="/thoughtdumps/"
            class="{% if page.url contains '/thoughtdumps/' %}active{% endif %}"
            >| thoughtdumps</a
          >
          <a href="/assets/pdf/Jon_Rosario_CV.pdf">| cv</a>
          <a href="https://github.com/triviajon">| github</a>
          <a
            href="/contact/"
            class="{% if page.url == '/contact/' %}active{% endif %}"
            >| contact</a
          >
        </span>

        <div><span class="coq-keyword">end</span>.</div>
      </nav>

      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ "now" | date: "%Y" }} jon rosario</p>
    </footer>
  </body>
</html>
